<div class="container">
  <h1>MY GOALS</h1>
  <hr />

  <div class="row">
    <div class="col-md-6">
      <div *ngFor="let goal of aims; let i = index">
        <div>
          <h6 id="{{ i }}" appStrikethrough>
            {{ goal.name }} due on {{ goal.completeDate | date | uppercase }}
          </h6>
          <button (click)="toggleDetails(i)" class="btn btn-primary me-2">
            Toggle Details
          </button>
          <button class="btn btn-primary" (click)="goToUrl(goal.id)">
            View Details
          </button>
        </div>

        <div *ngIf="goal.showDescription">
          <app-goal-detail
            [goal]="goal"
            (isComplete)="deleteGoal($event, i)"
          ></app-goal-detail>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-goal-form (addGoal)="newGoal($event)"></app-goal-form>
    </div>
  </div>
  <p *ngIf="aims.length > 5">You have too many goals</p>
  <div class="row">
    <blockquote class="blockquote">
      <p class="mb-2">
        {{ quote.quote }}
      </p>
      <footer class="blockquote-footer">
        <cite>{{ quote.author }}</cite>
      </footer>
    </blockquote>
  </div>
</div>
